/* Navbar container */
.navbar {
  background-color: #333; /* Change to your desired background color */
  color: #fff; /* Change to your desired text color */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo styling */
.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Navigation links styling */
.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  margin-left: 320px;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff; /* Change to your desired link color */
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #FFF200; /* Change to your desired link color on hover */
}
